@font-face {
    font-family: 'playfair_displayregular';
    src: url('assets/playfairdisplay-regular-webfont.eot');
    src: url('assets/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('assets/playfairdisplay-regular-webfont.woff') format('woff'),
         url('assets/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('assets/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair_displaybold';
    src: url('assets/playfairdisplay-bold-webfont.eot');
    src: url('assets/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('assets/playfairdisplay-bold-webfont.woff') format('woff'),
         url('assets/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('assets/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('assets/playfairdisplay-bolditalic-webfont.eot');
    src: url('assets/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('assets/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('assets/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('assets/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayitalic';
    src: url('assets/playfairdisplay-italic-webfont.eot');
    src: url('assets/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('assets/playfairdisplay-italic-webfont.woff') format('woff'),
         url('assets/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('assets/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('assets/raleway-light-webfont.eot');
    src: url('assets/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/raleway-light-webfont.woff2') format('woff2'),
         url('assets/raleway-light-webfont.woff') format('woff'),
         url('assets/raleway-light-webfont.ttf') format('truetype'),
         url('assets/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight_italic';
    src: url('assets/raleway-lightitalic-webfont.eot');
    src: url('assets/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('assets/raleway-lightitalic-webfont.woff') format('woff'),
         url('assets/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('assets/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('assets/raleway-medium-webfont.eot');
    src: url('assets/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/raleway-medium-webfont.woff2') format('woff2'),
         url('assets/raleway-medium-webfont.woff') format('woff'),
         url('assets/raleway-medium-webfont.ttf') format('truetype'),
         url('assets/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('assets/raleway-mediumitalic-webfont.eot');
    src: url('assets/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('assets/raleway-mediumitalic-webfont.woff') format('woff'),
         url('assets/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('assets/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
    font-size: 16px;
  }

body{
    font-family: ralewaylight;
  }
header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#logo{
    width: auto;
    max-height: 80%;
    padding-left: 5%;
}

#cart{
    width: auto;
    max-height: 80%;
    padding-right: 5%;
}

.navBarContainer{
    display: flex;
    justify-content: space-around;
}

header h1{
    font-family: ralewaymedium;
    font-size: inherit;
    padding: 0 1rem;
    text-transform: uppercase;
}

h1 a{
    color: #e2574c;
    text-decoration: none;
}

nav {    
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center; 
    background: url("images/banner-girl.png"),url("images/flower-bkgd.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center bottom, center;
    background-size: auto 90%, auto;
    position: relative;
    flex-wrap: wrap;
}

nav h3{
 width: 100%;
 align-items: center;
 justify-content: center;
 display: flex;
 padding-top: 12rem;
 margin: 0;
 color: white;
 font-family: ralewaymedium;
 font-size: 1.3rem;
}

nav h1{
    width: 100%;
    height: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0rem 0rem 18rem 0rem;
    color: white;
    font-size: 4rem;
    font-family: playfair_displayregular;
    margin: 0;
}

.brandMoto{
    background-color: rgba(255, 255,255,1);
    height: 15%;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.brandMoto p1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: initial;
    
}

.brandMoto p1 span{
    font-style: italic;
    font-weight: normal;
}

.brandMoto p2{
     width: 70%;
     text-align: center;
     line-height: 1.5rem;
     font-size: 0.9rem;
  }

.clothesCategories{
      width: 100%;
      height: 400px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
}

.rectangle{
    width: 50%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;

}

#mens{
    background: url('images/mens-category.jpg') no-repeat; 
    background-size: 100% 100%;
    box-shadow: -0.5rem -0.5rem white inset;
}
.square{
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
}
#trends{
    background: url('images/trends-category.jpg') no-repeat; 
    background-size: 100% 100%;
    box-shadow: -0.5rem -0.5rem white inset,
                0.5rem 0 white inset;
}

#glasses{
    background: url('images/glasses-category.jpg') no-repeat; 
    background-size: 100% 100%;
    box-shadow: 0.5rem -0.5rem white inset;
}

#sale{
    background: url('images/sale-category.jpg') no-repeat; 
    background-size: 100% 100%;
    box-shadow: -0.5rem 0.5rem white inset;
}

#bags{
    background: url('images/bags-category.jpg') no-repeat; 
    background-size: 100% 100%;
    box-shadow: 0.5rem 0.5rem white inset,
                -0.5rem 0 white inset;
}

#womens{
    background: url('images/womens-category.jpg') no-repeat; 
    background-size: 100% 100%;
    box-shadow: 0.5rem 0.5rem white inset;
}

.productsContainer{
    width:100%;
    height: 400px;
    display:flex;
    flex-wrap: wrap;
}

.productsHeading{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
