@font-face {
    font-family: 'playfair_displayregular';
    src: url('../assets/playfairdisplay-regular-webfont.eot');
    src: url('../assets/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../assets/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../assets/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../assets/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair_displaybold';
    src: url('../assets/playfairdisplay-bold-webfont.eot');
    src: url('../assets/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../assets/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../assets/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../assets/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('../assets/playfairdisplay-bolditalic-webfont.eot');
    src: url('../assets/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../assets/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../assets/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayitalic';
    src: url('../assets/playfairdisplay-italic-webfont.eot');
    src: url('../assets/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../assets/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../assets/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../assets/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('../assets/raleway-light-webfont.eot');
    src: url('../assets/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/raleway-light-webfont.woff2') format('woff2'),
         url('../assets/raleway-light-webfont.woff') format('woff'),
         url('../assets/raleway-light-webfont.ttf') format('truetype'),
         url('../assets/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'ralewaylight_italic';
    src: url('../assets/raleway-lightitalic-webfont.eot');
    src: url('../assets/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../assets/raleway-lightitalic-webfont.woff') format('woff'),
         url('../assets/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../assets/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('../assets/raleway-medium-webfont.eot');
    src: url('../assets/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/raleway-medium-webfont.woff2') format('woff2'),
         url('../assets/raleway-medium-webfont.woff') format('woff'),
         url('../assets/raleway-medium-webfont.ttf') format('truetype'),
         url('../assets/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('../assets/raleway-mediumitalic-webfont.eot');
    src: url('../assets/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../assets/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../assets/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../assets/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    margin: 0;
    border: 0;
}

html{
    font-size: 16px;

}

body{
    font-family: ralewaylight;
    color: #2d2d2d;
}

h1,h2,h3,
h4,h5,h6{
    font-family: playfair_displayregular;
}



.siteHeader{
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo{
    height: 100px;
    margin: 1em;
    width: auto;
}


.navigationBar {
    display:flex;
    margin-right: 9em;
}

.navigationBar li a{
    color: #e2574c;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.navigationBar li a:hover{
    color:#b64036;
}

.cart{
    margin: 1em;
    height: 100px;
    width: auto;
}

.banner{
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/banner-girl.png") no-repeat center bottom,
                url("../images/flower-bkgd.jpg") repeat center;
    background-size: auto,auto 90%, auto;
    box-shadow: 0 -5em white inset;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30em;
    margin-top: 150px;
    width: 100%;
}

.new{
    font-weight: bold;
    margin-top: 9.5em;
    text-transform: uppercase;
}

.collection{
    font-size: 4em;
    margin-bottom: 3.5em;
}

.moto{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.moto h1,
.productDisplay h1,
.subscribe h1{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.moto h1 span,
.productDisplay h1 span,
.subscribe h1 span{
        font-style: italic;
        font-weight: normal;
        margin-right: 0.5em;
}

.moto p{
    line-height: 2em;
    margin-bottom: 4em;
    text-align: center;
    width:40%;
}

.clothesCategory{
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    width: 100%;
}

.mens{
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/mens-category.jpg") no-repeat;
    background-size: auto, 100% 100%;
    box-shadow: -0.1em -0.1em white inset;
    color:white;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    height: 250px;
    justify-content: center;
    width: 50%;
}

.trends{
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/trends-category.jpg") no-repeat;
    background-size: auto, 100% 100%;
    box-shadow: -0.1em -0.1em white inset,
                 0.1em  0     white inset; 
    color:white;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    height: 250px;
    justify-content: center;
    width: 25%;
}

.glasses{
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/glasses-category.jpg") no-repeat;
    background-size: auto, 100% 100%;
    box-shadow: 0.1em -0.1em white inset; 
    color:white;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    height: 250px;
    justify-content: center;
    width: 25%;
}

.sale{
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/sale-category.jpg") no-repeat;
    background-size: auto, 100% 100%;
    box-shadow: -0.1em 0.1em white inset;
    color:white;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    height: 250px;
    justify-content: center;
    width: 25%;
}

.bags{
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/bags-category.jpg") no-repeat;
    background-size: auto, 100% 100%;
    box-shadow:  0.1em 0.1em white inset,
                -0.1em 0     white inset; 
    color:white;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    height: 250px;
    justify-content: center;
    width: 25%;
}

.womens{
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/womens-category.jpg") no-repeat;
    background-size: auto, 100% 100%;
    box-shadow: 0.1em 0.1em white inset;
    color:white;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    height: 250px;
    justify-content: center;
    width: 50%;
}

.productDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productDisplay h1{
    margin: 2em 0;
}
.display{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.product p,
.product h3{
    margin: 1em 0;
}

.product{
    width:25%;
}
.productCategory,
.productPrice{
    color: #969696;
    font-weight: bold;
    text-transform: uppercase;
}

.productName{
    color: #e2574c;
    font-size: 1.5em;
}

.product button{
    background: black;
    border: 0.5em solid black;
    border-radius: 50px;
    color: white;
}

.scrolling{

    height: 4em;
    width: 100%;
}

.subscribe{
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/wave-bkgd.jpg") no-repeat;
    background-size: auto, 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subscribe h1{
    color: white;
    margin: 2em 0 0 0;
}

.subscribe p{
    color: white;
    font-weight: bold;
    line-height: 2em;
    margin: 2em 0;
    text-align: center;
    width:40%;
}

.subscribe form{
    background: white;
    border: 0.3em solid white;
    border-radius: 100px;
    display: flex;
    margin-bottom: 2em;

}

.subscribe form input{
    flex: 2;
    margin-left: 1em;
}

.subscribe form button{
    background: red;
    border: 0.5em solid red;
    border-radius: 100px;
    color: white;
    flex: 1;
    font-size: 1em;
    font-weight: bold;
}

footer{
    margin-top: 1em;
    max-width: 100%;
    display: flex;
    background: #242424;
}

.column1{
    flex: 4;
    color:white;
    margin: 2em 0 2em 2em;
}
.column1 h6{
    margin: 2em 0;
    line-height: 1.5rem;
}

.copyright:before{
    font-family: FontAwesome;
    content: "\f1f9";
    color: white;
}

.address{
    color:#969696;
}

.tel a{
    color: white;
}

.column2{
    flex: 1;
    color: white;
    margin: 4em auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.column2 p:before{
    display: inline-block;
    font-family: FontAwesome;
    width: 2em;
    text-align: left;
}

.facebook:before{
    content: "\f09a";
}

.twitter:before{
    content: "\f099";
}

.instagram:before{
    content: "\f16d";
}

.pinterest:before{
    content: "\f0d2";
}

.google:before{
    content: "\f0d5";
}

/*******************************/

@media screen and (max-width:600px){
    html{
        font-size: 14px;
    }
    .siteHeader{
        flex-wrap: wrap;
    }

    .logo{
        order:1;
    }

    .navigationBar{
        border-top: 0.2em solid #d7d7d7;
        display:flex;
        font-size: 1.5em;
        justify-content: space-around;
        order:3;
        padding: 1.5em 0;
        width:100%;
    }

    .cart{
        order:2;
    }

    .new{
        font-size: 1.5em;
        margin-top: 6em;
    }

    .collection{
        margin-bottom: 2.5em;
        text-align: center;
        width:80%;
    }

    .moto h1,
    .productDisplay h1,
    .subscribe h1{
        font-size: 3.5em;
        text-align: center;
        width: 100%;
    }

    .moto p,
    .subscribe p{
        font-size: 1.6em;
        width:90%;
    }

    
    .mens,
    .womens{
        width:100%;
    }

    .trends, 
    .glasses,
    .sale,
    .bags{
        width:50%;
    }

    .display{
        justify-content: unset;
        overflow: scroll;
    
    }
    .product{
        width:100%;
    }

    .subscribe form{
        width: 80%;
    }

    footer{
        flex-direction: column;
        margin: 1em 0;
    }

    .column1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5em 0 0.5em 0;
    }

    .column1 h6{
        margin: 0.5em 0;
        text-align: center;
    }
    .column2{
        display: flex;
        flex-direction: row;
        margin: 1em 15em 5em 15em;
    }


    .column2 p{
        font-size: 0;
    }

    .column2 p:before{
        font-size: initial;
    }


}


/******************************/

@media screen and (min-width:601px) and (max-width:1240px){
    .display{
        justify-content: unset;
        overflow: scroll;
    
    }
    
    .product{
        width: 50%;
    }

    .moto p,
    .subscribe p{
        width: 90%;
    }
}