@font-face {
    font-family: 'playfair_displayregular';
    src: url('../assets/playfairdisplay-regular-webfont.eot');
    src: url('../assets/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../assets/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../assets/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../assets/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair_displaybold';
    src: url('../assets/playfairdisplay-bold-webfont.eot');
    src: url('../assets/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../assets/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../assets/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../assets/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('../assets/playfairdisplay-bolditalic-webfont.eot');
    src: url('../assets/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../assets/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../assets/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayitalic';
    src: url('../assets/playfairdisplay-italic-webfont.eot');
    src: url('../assets/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../assets/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../assets/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../assets/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('../assets/raleway-light-webfont.eot');
    src: url('../assets/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/raleway-light-webfont.woff2') format('woff2'),
         url('../assets/raleway-light-webfont.woff') format('woff'),
         url('../assets/raleway-light-webfont.ttf') format('truetype'),
         url('../assets/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'ralewaylight_italic';
    src: url('../assets/raleway-lightitalic-webfont.eot');
    src: url('../assets/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../assets/raleway-lightitalic-webfont.woff') format('woff'),
         url('../assets/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../assets/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('../assets/raleway-medium-webfont.eot');
    src: url('../assets/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/raleway-medium-webfont.woff2') format('woff2'),
         url('../assets/raleway-medium-webfont.woff') format('woff'),
         url('../assets/raleway-medium-webfont.ttf') format('truetype'),
         url('../assets/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('../assets/raleway-mediumitalic-webfont.eot');
    src: url('../assets/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../assets/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../assets/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../assets/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    margin: 0;
    border: 0;
}

html{
    font-size: 14px;
}

body{
    font-family: ralewaylight;
    color: #2d2d2d;
}

h1,h2,h3,
h4,h5,h6{
    font-family: playfair_displayregular;
}


.siteHeader{
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100vw;
    z-index: 100;
}

.logo{
    width: 200px;
    order:1;
    height:auto;
    margin: 1em;
}

.cart-container{
    background: url("../images/cart-icon.svg" ) no-repeat center;
    background-size: 100%;
    height:80px;
    width: 80px;
    margin: 1em;
    order:2;
    position: relative;
    text-align: center;
}

.cart-container a{
    display: inline-block;
    margin-top: 1em;
    font-size: 1.5em;
    color: transparent;
    user-select: none;
}

.cart-container a:hover{
    cursor: pointer;
}

#item-counter{
    position: absolute;
    display: none;
    top: -10px;
    left: -10px;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
    padding-top: 0.5em;
    font-weight: bold;
}

.navigationBar{
    border-top: 0.2em solid #d7d7d7;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1em 1em;
    order: 3;
    width:90%;
}

.navigationBar li a{
    color: #e2574c;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0.8em;
    text-decoration: none;
    text-transform: uppercase;
}

.navigationBar li a:hover{
    color:#b64036;
}

.banner{
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)),
                url("../images/banner-girl.png"),
                url("../images/flower-bkgd.jpg");
    background-repeat: no-repeat,
                       no-repeat,
                       repeat;
    background-position: center,
                         center bottom, 
                         center;
    background-size: auto,
                     auto 90%, 
                     auto;
    background-attachment: scroll, scroll,fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30em;
    margin-top: 200px;
    width: 100%;
    position: relative;
    animation: example 60s  infinite linear;
}

@keyframes example{
    from {background-position: center,center bottom, 0 0;}
    to   {background-position: center, center bottom, 100% 0;}
}

.new{
    position: absolute;
    top: 6.2em;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.collection{
    position: absolute;
    top: 3.4em;
    font-size: 3.5em;
    text-align: center
}


.moto{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5em;
}

.moto h1,
.productDisplay h1,
.subscribe h1{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.moto h1 span,
.productDisplay h1 span,
.subscribe h1 span{
        font-style: italic;
        font-weight: normal;
        margin-right: 0.5em;
}

.moto p{
    line-height: 2em;
    margin-bottom: 4em;
    text-align: center;
    width:80%;
}

.clothesCategory{
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    width: 100%;
}

.clothesCategory>div{
    align-items: center;
    background-size: auto, 100% 100%;
    justify-content: center;
    color: white;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    height: 200px;
    justify-content: center;
}

.big{
    width: 100%;
}

.small{
    width: 50%;
}

.mens{
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/mens-category.jpg") no-repeat;
    border-bottom: 0.1em solid white;
}

.trends{
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/trends-category.jpg") no-repeat;
    border: 0.1em solid white;
    border-left: 0;
                 
}

.glasses{
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/glasses-category.jpg") no-repeat;
    border: 0.1em solid white;
    border-right: 0;
}

.sale{
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/sale-category.jpg") no-repeat;
    border: 0.1em solid white;
    border-left: 0;
}

.bags{
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/bags-category.jpg") no-repeat;
    border: 0.1em solid white;
    border-right: 0;
}

.womens{
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/womens-category.jpg") no-repeat;

    border-top: 0.1em solid white;
}

.productDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productDisplay h1{
    margin: 1em 0;
}
.display{
    text-align: center;
    width: 100%;
}

.product p,
.product h3{
    margin: 1em auto;
}

.product{
    width:100%;
}
.productCategory,
.productPrice{
    color: #969696;
    font-weight: bold;
    text-transform: uppercase;
}

.productName{
    color: #e2574c;
    font-size: 1.5em;
}

.product button{
    background: black;
    border: 0.5em solid black;
    border-radius: 50px;
    color: white;
}

.product button:hover{
    cursor: pointer;
}

.scrolling{
    height: 4em;
    width:100%;
}

.scrolling ul{
    margin-top: 2em;
    text-align: center;
}


.scrolling li {
    display:inline-block;
    margin:0;
    padding:0;
}

.scrolling li a{
    text-decoration: none;
    height: 1em;
    width: 1em;
    margin: 0 2px;
    border: 0.1em solid black;
    background: #5E7074;
    border-radius: 50%;
    display: block;
}

.scrolling li a.active,
.scrolling li a:hover{
    background: black;
}

.subscribe{
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,0.25)) no-repeat center,
                url("../images/wave-bkgd.jpg") no-repeat;
    background-size: auto, 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subscribe h1{
    color: white;
    margin: 1em 0 0 0;
}

.subscribe p{
    color: white;
    font-weight: bold;
    line-height: 2em;
    margin: 2em 0;
    text-align: center;
    width:80%;
}

.subscribe form{
    background: white;
    border: 0.3em solid white;
    border-radius: 100px;
    display: flex;
    margin-bottom: 2em;

}

.subscribe form input{
    flex: 2;
    margin-left: 1em;
}

.subscribe form input:focus{
    background: white;
}

.subscribe form button{
    background: red;
    border: 0.5em solid red;
    border-radius: 100px;
    color: white;
    flex: 1;
    font-size: 1em;
    font-weight: bold;
}
.subscribe form button:hover{
    cursor: pointer;
}

footer{
    background: #242424;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    max-width: 100%;    
}

.column1{
    text-align: center;
    color:white;
    margin: 0 2em;
}
.column1 h6{
    margin: 2em 0;
    line-height: 1.5rem;
}

.copyright:before{
    font-family: FontAwesome;
    content: "\f1f9";
    color: white;
}

.address{
    color:#969696;
}

.tel a{
    color: white;
}

.column2{
    flex: 1;
    color: white;
    display:flex;
    justify-content: center;
    margin-bottom: 2em;
}

.column2 span{
    display: none;
}

.column2 p:before{
    font-family: FontAwesome;
    font-size: initial;
    margin: 0 0.5em;
}

.facebook:before{
    content: "\f09a";
}

.twitter:before{
    content: "\f099";
}

.instagram:before{
    content: "\f16d";
}

.pinterest:before{
    content: "\f0d2";
}

.google:before{
    content: "\f0d5";
}


/*****************************/
@media screen and (min-width:600px){
    html{
        font-size: 16px;
    }

    .siteHeader{
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .siteHeader img{
        margin: 0.5em;
    }

    .logo{
        width:20%;

    }

    .navigationBar{
        border:0;
        order:2;
        padding:0;
        width:50%;
    }

    .navigationBar li a{
        padding: 0em;
        margin: 0;
    }

    .cart-container{
        order: 3;
    }

    .banner{
        margin-top: 150px;
    }

    .big{
        width:50%;
    }
    .small{
        width:25%;
    }

    .mens,
    .sale{
        border: 0.1em solid white;
        border-left: 0;
    }

    .trends,
    .bags{
        border: 0.1em solid white;
    }
    
    .glasses,
    .womens{
        border: 0.1em solid white;
        border-right: 0;
    }

    .scrolling ul li:not(.tablet){
        display:none;
    }

    footer{
        flex-direction: row;
    }

    .column1{
        flex: 4;
        text-align: left;
    }

    .column2{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 2em 0;
    }

    .column2 span{
        display: unset;
    }

}

/********************************/
@media screen and (min-width:1240px){
    
    .logo{
        width: 15%;
    }
    .navigationBar{
        width: 40%;
    }
    
    .cart-container{
        height:100px;
        width: 100px;
        margin-right: 2em;
    }

    .cart-container a{
        margin-top: 1em;
        font-size: 2em;
    }


    .moto p,
    .subscribe p{
        width: 40%;
    }

    .clothesCategory>div{
        height: 300px;
    }

    .scrolling ul li:not(.desktop){
        display:none;
    }
}